.secondaryHeader {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 25px;
}

@media (max-width: 767px) {
  .secondaryHeader {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
