.list {
  list-style-type: none;
  padding-left: 0;
  margin: 16px 23px;
}

.list__item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 15px;
  align-items: center;
}

.list__item--hidden {
  display: none;
}

.list__textLineThrough {
  text-decoration: line-through;
}

.list__button {
  height: 30px;
  width: 30px;
  color: white;
}

.list__button--remove {
  background-color: red;
  border: 2px solid red;
  transition: 0.3s;
}

.list__button--remove:hover {
  background-color: hsl(0, 100%, 75%);
  border-color: hsl(0, 100%, 75%);
  transform: scale(1.1);
}

.list__button--remove:active {
  border-color: #333;
  border-radius: 2px;
}

.list__button--toggleTask {
  background-color: green;
  border: 2px solid green;
  transition: 0.3s;
}

.list__button--toggleTask:hover {
  background-color: hsl(120, 100%, 35%);
  border-color: hsl(120, 100%, 35%);
}

.list__button--toggleTask:active {
  border-color: #333;
  border-radius: 2px;
}
